In [7]:
#Importing libraries
import pandas as pd
import numpy as np
import mysql.connector as db

In [62]:
df_final = pd.read_csv("C:\\Users\\admin\\Desktop\\REDBUS_CSV\\df_states.csv")

In [64]:
df_final

,Route_name,Bus_name,Bus_type,Duration,Ratings,Seats_Available,Price,Departing_time,Reaching_Time,Route_link
0,Vijayawada to Hyderabad,TSRTC - 9934,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",07h 10m,3.9\n10,33 Seats available,INR 396,10:10,17:20,https://www.redbus.in/bus-tickets/vijayawada-t...
1,Vijayawada to Hyderabad,TSRTC - 1892,RAJDHANI (A.C. Semi Sleeper),05h 55m,2.5\n27,25 Seats available,INR 480,10:20,16:15,https://www.redbus.in/bus-tickets/vijayawada-t...
2,Vijayawada to Hyderabad,TSRTC - 1464,RAJDHANI (A.C. Semi Sleeper),06h 10m,2.1\n24,28 Seats available,INR 480,10:40,16:50,https://www.redbus.in/bus-tickets/vijayawada-t...
3,Vijayawada to Hyderabad,TSRTC - 1805,RAJADHANI AC (CONVERTED METRO LUXURY),05h 55m,3.0\n12,27 Seats available,INR 480,11:45,17:40,https://www.redbus.in/bus-tickets/vijayawada-t...
4,Vijayawada to Hyderabad,TSRTC - 1582,RAJDHANI (A.C. Semi Sleeper),04h 30m,3.1\n33,27 Seats available,INR 480,12:10,16:40,https://www.redbus.in/bus-tickets/vijayawada-t...
...,...,...,...,...,...,...,...,...,...,...
3671,Kolkata to Siliguri,Lokenath Bus Service,Volvo 9600 Multi-Axle A/C Sleeper (2+1),11h 40m,4.6\n524,1 Seat available,INR 1500,19:50,07:30,https://www.redbus.in/bus-tickets/kolkata-to-s...
3672,Kolkata to Siliguri,Lokenath Bus Service,Volvo Multi Axle B11R AC Seater\Sleeper (2+1),09h 00m,4.4\n495,6 Seats available,INR 1200,21:30,06:30,https://www.redbus.in/bus-tickets/kolkata-to-s...
3673,Kolkata to Siliguri,Modern Travels,Bharat Benz A/C Seater /Sleeper (2+1),12h 00m,3.6\n372,33 Seats available,INR 850,19:45,07:45,https://www.redbus.in/bus-tickets/kolkata-to-s...
3674,Kolkata to Asansol (West Bengal),Royal Cruiser,Volvo A/C Seater (2+2),04h 30m,3.5\n67,3 Seats available,523,19:45,00:15,https://www.redbus.in/bus-tickets/kolkata-to-a...
3675,Kolkata to Asansol (West Bengal),Beauty Travels,NON A/C Seater / Sleeper (2+2),04h 10m,3.0,36 Seats available,INR 380,20:20,00:30,https://www.redbus.in/bus-tickets/kolkata-to-a...

In [34]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3676 entries, 0 to 3675
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Route_name       3676 non-null   object
 1   Bus_name         3657 non-null   object
 2   Bus_type         3657 non-null   object
 3   Duration         3657 non-null   object
 4   Ratings          1135 non-null   float64
 5   Seats_Available  3657 non-null   object
 6   Price            3657 non-null   object
 7   Departing_time   3657 non-null   object
 8   Reaching_Time    3657 non-null   object
 9   Route_link       3676 non-null   object
dtypes: float64(1), object(9)
memory usage: 287.3+ KB

In [13]:
# Convert prices to numeric
df_final["Price"]=df_final["Price"].str.replace("INR","")

In [15]:
df_final["Price"]=df_final["Price"].astype(float)

In [17]:
df_final["Price"].fillna(0)

0        396.0
1        480.0
2        480.0
3        480.0
4        480.0
         ...
3671    1500.0
3672    1200.0
3673     850.0
3674     523.0
3675     380.0
Name: Price, Length: 3676, dtype: float64

In [52]:
df_final["Ratings"] = df_final["Ratings"].astype(str)

In [54]:
# Convert Ratings to numeric
df_final["Ratings"]=df_final["Ratings"].str.replace("New","")

In [56]:
df_final["Ratings"]=df_final["Ratings"].str.split().str[0]

In [58]:
df_final["Ratings"] = pd.to_numeric(df_final["Ratings"], errors='coerce')

In [60]:
df_final["Ratings"].fillna(0)

0       3.9
1       2.5
2       2.1
3       3.0
4       3.1
       ...
3671    4.6
3672    4.4
3673    3.6
3674    3.5
3675    3.0
Name: Ratings, Length: 3676, dtype: float64

In [31]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3676 entries, 0 to 3675
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Route_name       3676 non-null   object
 1   Bus_name         3657 non-null   object
 2   Bus_type         3657 non-null   object
 3   Duration         3657 non-null   object
 4   Ratings          3676 non-null   float64
 5   Seats_Available  3657 non-null   object
 6   Price            3657 non-null   float64
 7   Departing_time   3657 non-null   object
 8   Reaching_Time    3657 non-null   object
 9   Route_link       3676 non-null   object
dtypes: float64(2), object(8)
memory usage: 287.3+ KB

In [33]:
df_final = df_final.fillna(0)

In [35]:
# Replace all NaN (Not a Number) values with None
df_final = df_final.replace({np.nan: None})

In [37]:
df_final=df_final.to_csv("C:\\Users\\admin\\Desktop\\REDBUS_CSV\\df_redbus_list.csv",index=False)

In [49]:
df_final = pd.read_csv("df_redbus_list.csv")

In [39]:
# Sql Connection
db_connection=db.connect(

    host= "localhost",
    user="root",
    password="root",
    database="bus_routes"
)

In [41]:
db_connection

In [43]:
curr = db_connection.cursor()

In [45]:
# SQL query to insert data into bus_details table

insert_db ='''INSERT INTO bus_routes.bus_details(
                    Route_name,
                    Bus_name,
                    Bus_type,
                    Duration,
                    Ratings,
                    Seats_Available,
                    Price,
                    Departing_time,
                    Reaching_Time,
                    Route_link
                    )
              VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

In [51]:
#final_data = df_final.values.tolist()

In [59]:
# Convert Seats_Available to numeric
df_final["Seats_Available"] = df_final["Seats_Available"].str.split().str[0]

In [61]:
df_final["Seats_Available"]=df_final["Seats_Available"].astype(int)

In [65]:
df_final=df_final.to_csv("C:\\Users\\admin\\Desktop\\REDBUS_CSV\\df_redbus.csv",index=False)

In [67]:
df_final = pd.read_csv("df_redbus.csv")

In [69]:
final_data = df_final.values.tolist()

In [71]:
curr.executemany(insert_db,final_data)

In [73]:
db_connection.commit()

In [77]:
print("successfully")

successfully